footer
  .footer-col
    h1 About BPC
    p.text.black
      | Big Picture Consulting is a management consulting firm that exists to serve leaders. Our mission is to help you strategize, grow your revenues, increase your profits and solve complex problems. It's your big picture. We're in it with you.
  .footer-col
    h1 Useful Links
    p.text
      a(href='about') About BPC and it's President
      a(href='services') Consulting Services
      a(href='testimonials') What Others Are Saying
      a(href='/#contact') Contact
  .footer-col
    h1 Social
    p.text
      a(href='http://linkedin.com/in/glenn-love-42b62717') Linkedin
      a(href='#') Google+
      a(href='#') Twitter
      a(href='#') Facebook
#copyright
  | Copyright © 2017 - Big Picture Consulting
link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600', rel='stylesheet')
link(href='styles/fontello.css', rel='stylesheet')
link(rel='stylesheet', href='styles/master.css')
script(src='scripts/zenscroll-min.js')
script(src='scripts/dropDown.js')
