<header>
  <a href="/">
    <div id="brand"><img src="/images/brand.png" alt="brand"></div>
  </a>
  <ul id="menuList"><a href="about" class="menuItem">About</a><a href="services" class="menuItem">Services</a><a href="testimonials" class="menuItem">Testimonials</a><a href="faq" class="menuItem">FAQ</a><a href="/#contact"><button id="getStarted" class="ghostBtn">Get Started</button></a></ul>
  <button
    id="dropDownButton"><i class="icon-menu"></i></button>
</header>
<div id="dropDownMenu">
  <ul id="dropDownList"><a href="about" class="dropDownItem">About</a><a href="services" class="dropDownItem">Services</a><a href="testimonials" class="dropDownItem">Testimonials</a><a href="faq" class="dropDownItem">FAQ</a><a href="/#contact"><button id="dropDownGetStarted">Get Started</button></a></ul>
</div>