header
  a(href='/')
    #brand
      img(src='/images/brand.png', alt='brand')
  ul#menuList
    a.menuItem(href='about') About
    a.menuItem(href='services') Services
    a.menuItem(href='testimonials') Testimonials
    a.menuItem(href='faq') FAQ
    a(href='/#contact')
      button#getStarted.ghostBtn Get Started
  button#dropDownButton
    i.icon-menu
#dropDownMenu
  ul#dropDownList
    a.dropDownItem(href='about') About
    a.dropDownItem(href='services') Services
    a.dropDownItem(href='testimonials') Testimonials
    a.dropDownItem(href='faq') FAQ
    a(href='/#contact')
      button#dropDownGetStarted Get Started
