<header id="headerScrolled">
  <div id="navInterior">
    <a href="/"><div id="brand"><img src="images/logo.png" alt="brand"></div></a>
    <ul id="menuList">
      <a class="menuItem" href="about">About</a>
      <a class="menuItem" href="services">Services</a>
      <a class="menuItem" href="testimonials">Testimonials</a>
      <a class="menuItem" href="faq">FAQ</a>
      <a href="/#contact"><button id="getStarted" class="ghostBtn">Get Started</button></a>
    </ul>
    <button id="dropDownButton"><i class="icon-menu"></i></button>
  </div>
</header>
<div id="dropDownMenu">
  <ul id="dropDownList">
    <a class="dropDownItem" href="about">About</a>
    <a class="dropDownItem" href="services">Services</a>
    <a class="dropDownItem" href="testimonials">Testimonials</a>
    <a class="dropDownItem" href="faq">FAQ</a>
    <a href="/#contact"><button id="dropDownGetStarted">Get Started</button></a>
  </ul>
</div>
