<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> navigation}}
    <section id="aboutTop" class="secondTop"></section>
    <section id="titleSection">
      <h1>About Big Picture Consulting</h1>
    </section>
    <section class="main">
      <p></p>
      <h2>Why we exist</h2> Maybe you or someone you know has some great ideas, but you're not quite sure how to define and implement them.<br><br> Maybe you have a crystal-clear vision with big goals and need help prioritizing and communicating them to your
      leadership team. Or maybe you need help getting a fresh vision and setting goals for you and your organization.
      <br><br> Maybe you can’t quite see the forest because of all the trees. Maybe you can't get a clear view of the horizon because of the intense wind and waves raging all around you. Or maybe you could use a lighthouse to help you navigate the treacherous
      seas and rocky shores of business ownership.<br><br> That's why we're here - to help you get a bird's eye view of where you are and where you need to go.
      <h2>What we do</h2> We are here to help you to:
      <ul>
        <li>Dive into your revenues, expenses and profit margins to see where improvements might be made</li>
        <li>Develop and install expense control systems in order to better plan for and meet your bottom-line profit goals</li>
        <li>Assess your team and internal communications to see if they are where you need them to be right now</li>
        <li>Evaluate your strategic plan and adjust as necessary</li>
        <li>Analyze the efficiencies and inefficiencies of your operations</li>
        <li>Critique your sales, marketing and external communications to look for possible ways to stimulate revenue growth</li>
        <li>Become the leader you know you need to be</li>
      </ul> We're committed to your success. We're in it with you.
      <h2>Let’s get together</h2> We would love to meet you and learn about the vision you have for your business. Let's meet for coffee.<br><br> You can text or call <a href="#glenn">Glenn Love</a>, the owner and president of BPC, at
      <a href="tel:7043096285">704-309-6285</a>, or email him at <a href="mailto:glenn@bigpicture.life">glenn@bigpicture.life</a> or you can ask him to get in touch with you <a href="/#contact">here</a>.
      <p></p>
    </section>
    <section id="titleSection">
      <h1>Meet the Owner of BPC</h1>
    </section>
    <section id="glenn" class="main">
      <p><img id="portrait" src="/images/glenn.png" alt="glenn" align="left"> Glenn Love is the owner and president of Big Picture Consulting, a regional management consulting firm that gets in the trenches with leaders of all types to help them analyze and
        learn, develop alternatives, make decisions, and act.<br><br> Since entering the management consulting field in 1995, Glenn has served leaders and organizations in 17 states and The Bahamas. Glenn’s purpose and passion is to work alongside leaders
        of all types to help them overcome obstacles, develop innovative solutions, and focus on the big picture. One of Glenn’s favorite business axioms is, "You can’t be what you don't see."<br><br> Prior to launching his own practice, Glenn invested
        nearly 15 years in commercial banking and sports marketing where he worked alongside leaders of privately held businesses, as well as Fortune 500 companies including Wachovia (now Wells Fargo), NCNB (now Bank of America), Exxon Co. USA, Coca-Cola,
        Procter & Gamble, PepsiCo, and Tyson Foods. One of Glenn's proudest achievements was when he and a marketing consulting team worked closely with Jerry Richardson and Richardson Sports to help win an NFL franchise for the Charlotte region. Glenn
        also served as a senior project leader for an international management consulting firm based in Chicago. In recent years, he has worked with leadership teams at United Way, Hospice of Cabarrus County and Cooperative Christian Ministry to assist
        with fundraising, marketing, social media planning and community education initiatives.<br><br> Glenn is well-published on the subject of management and leadership, and has contributed articles to The Charlotte Business Journal, The Charlotte Observer,
        and Cabarrus Business magazine. He has authored articles <img id="portrait2" src="/images/glenn2.jpg" alt="glenn" align="right"> for various publications including the "Family Business Forum" for the Business Today Journal. Glenn conducts
        seminars and workshops for Big Picture clients, financial institutions, community colleges, chambers of commerce and professional associations throughout the Charlotte metro region and the Carolinas.<br><br> He earned his bachelor’s degree in economics
        from the University of North Carolina at Chapel Hill and has received ongoing business management training and certifications from The Business School for Entrepreneurial Education and Gateway Leadership Academy. In addition, Glenn holds a North
        Carolina real estate license and is an honors graduate of Christ School located near Asheville, North Carolina. Glenn has a passion for community. He has volunteered at Meals on Wheels, Urban Ministry, Hospice, Hope Junction and Redeemer’s Recovery
        Ranch.<br><br> Glenn was born and raised in Charlotte and has been married to Pamela for more than 30 years. He and his wife are blessed with four children and a granddaughter and live near Mt. Pleasant, NC. He and his family attend Community Church
        of Mt. Pleasant.</p>
    </section>
    <div class="quoteContainer"><img src="/images/quotes/ashleyBrilliant.png" alt="ashleyBrilliant" class="quoteImg"></div><br><br>
    {{> foot}}
  </body>
</html>
