<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> navigation}}
    <section id="aboutTop" class="secondTop"></section>
    <section id="titleSection">
      <h1>About Big Picture Consulting</h1>
    </section>
    <section class="main">
      <p></p>
      <h2>The question behind the question: Why?</h2>
      Success is crucial. Shaping the strategy and executing it is essential. Operating
      efficiently is critical, and maximizing profits is absolutely mandatory. But why? The
      answer is people. Unless people are enjoying working with you, like being around
      each other, and showing up each day with a pep in their step to work towards a
      common goal, there is no big picture. There is no underlying purpose and expanded
      meaning to their job. They are merely going through the motions, drawing a
      paycheck, and counting the days to the end of the workweek and their next
      vacation.

      So how do you get people to read from the same book, be on the right chapter, and
      be on the same page, all at the same time? That’s how Big Picture Consulting is
      different from other management consulting firms.
      <h2>There’s more to it.</h2>
      We go beyond strategy, operations, profitability and growth for growth’s sake. Yes,
      we help our clients with those essential tasks, but with the big picture in mind, i.e.,
      people. Specifically, it is through big-picture mentality development that we help our
      clients to:
      <ul>
        <li>Make leaders who in turn make leaders, i.e., influence others</li>
        <li>Transform themselves and their organizations</li>
        <li>Build highly effective teams</li>
        <li>Instill ownership mentalities in their people</li>
        <li>Develop mentoring relationships between seasoned and non-seasoned staff</li>
        <li>Gain buy-in from leadership and management</li>
        <li>Develop and install an operational playbook</li>
        <li>Break procrastination habits within the organization</li>
        <li>Identify and eliminate major productivity drains such as chronic gossiping,
whining and idle chit chat</li>
        <li>Resolve generational differences</li>
        <li>Lead people who don’t want to be lead</li>
        <li>Inspire people to improve their performance</li>
        <li>Move people out of and within the organization because sometimes “less is
more” can often be as effective as re-assigning and re-organizing</li>
      </ul>
      To learn more about what we do, visit our <a href="services">Services</a> page.
      <h2>Let’s get together</h2> We would love to meet you and learn about the vision you have for your business. Let's meet for coffee.<br><br> You can text or call <a href="#glenn">Glenn Love</a>, the owner and president of BPC, at
      <a href="tel:7043096285">704-309-6285</a>, or email him at <a href="mailto:glenn@bigpicture.life">glenn@bigpicture.life</a> or you can ask him to get in touch with you <a href="/#contact">here</a>.
      <p></p>
    </section>
    <section id="titleSection">
      <h1>Meet the Owner of BPC</h1>
    </section>
    <section id="glenn" class="main">
      <p><img id="portrait" src="/images/glenn.png" alt="glenn" align="left"> Glenn Love is the owner and president of Big Picture Consulting, a regional management consulting firm that gets in the trenches with leaders of all types to help them analyze and
        learn, develop alternatives, make decisions, and act.<br><br> Since entering the management consulting field in 1995, Glenn has served leaders and organizations in 17 states and The Bahamas. Glenn’s purpose and passion is to work alongside leaders
        of all types to help them overcome obstacles, develop innovative solutions, and focus on the big picture. One of Glenn’s favorite business axioms is, "You can’t be what you don't see."<br><br> Prior to launching his own practice, Glenn invested
        nearly 15 years in commercial banking and sports marketing where he worked alongside leaders of privately held businesses, as well as Fortune 500 companies including Wachovia (now Wells Fargo), NCNB (now Bank of America), Exxon Co. USA, Coca-Cola,
        Procter & Gamble, PepsiCo, and Tyson Foods. One of Glenn's proudest achievements was when he and a marketing consulting team worked closely with Jerry Richardson and Richardson Sports to help win an NFL franchise for the Charlotte region. Glenn
        also served as a senior project leader for an international management consulting firm based in Chicago. In recent years, he has worked with leadership teams at United Way, Hospice of Cabarrus County and Cooperative Christian Ministry to assist
        with fundraising, marketing, social media planning and community education initiatives.<br><br> Glenn is well-published on the subject of management and leadership, and has contributed articles to The Charlotte Business Journal, The Charlotte Observer,
        and Cabarrus Business magazine. He has authored articles <img id="portrait2" src="/images/glenn2.jpg" alt="glenn" align="right"> for various publications including the "Family Business Forum" for the Business Today Journal. Glenn conducts
        seminars and workshops for Big Picture clients, financial institutions, community colleges, chambers of commerce and professional associations throughout the Charlotte metro region and the Carolinas.<br><br> He earned his bachelor’s degree in economics
        from the University of North Carolina at Chapel Hill and has received ongoing business management training and certifications from The Business School for Entrepreneurial Education and Gateway Leadership Academy. In addition, Glenn holds a North
        Carolina real estate license and is an honors graduate of Christ School located near Asheville, North Carolina. Glenn has a passion for community. He has volunteered at Meals on Wheels, Urban Ministry, Hospice, Hope Junction and Redeemer’s Recovery
        Ranch.<br><br> Glenn was born and raised in Charlotte and has been married to Pamela for more than 30 years. He and his wife are blessed with four children and a granddaughter and live near Mt. Pleasant, NC. He and his family attend Community Church
        of Mt. Pleasant.</p>
    </section>
    <div class="quoteContainer"><img src="/images/quotes/ashleyBrilliant.png" alt="ashleyBrilliant" class="quoteImg"></div><br><br>
    {{> foot}}
  </body>
</html>
