include partials/head.pug
body
  include partials/navigation.pug
  section#aboutTop.secondTop
  section#titleSection
    h1 About Big Picture Consulting
  section.main
    p
    h2 Why we do what we do
    |       Maybe you or someone you know has some great ideas, but you're not quite sure how to define and
    |       implement them.
    br
    br
    |       Maybe you have a big vision with big goals and need help prioritizing and communicating them to
    |       your leadership team. Or maybe you need help getting a vision and setting goals for you and your
    |       organization.
    br
    br
    |       Maybe you can’t quite see the forest because of all the trees. Maybe you can't get a clear view of the
    |       horizon because of the intense wind and waves raging all around you. Or maybe you could use a
    |       lighthouse to help you navigate the treacherous seas and rocky shores of business ownership.
    br
    br
    |       That's why we're here - to help you get a bird's eye view of where you are and where you want to go.
    h2 What we do
    |       We are here to help you to:
    ul
      li Dive into your revenues, expenses and margins to see where improvements might be made
      li Develop and install expense control systems in order to better plan for and meet your bottom-line goals
      li Assess your team and internal communications to see if they are where you need them to be right now
      li Evaluate your strategic plan and adjust as necessary
      li Analyze the efficiencies and inefficiencies of your operations
      li Critique your sales, marketing and external communications efforts to look for possible ways to stimulate revenue growth
      li Become the leader you know you need to be
    |       We're as committed to your success as you are. We're in it with you.
    h2 Let’s get together
    |       We would love to meet you and learn about what you are doing and the your vision for your business. Let's meet for coffee.
    br
    br
    |       You can text or call 
    a(href='#glenn') Glenn Love
    | , the owner and president of BPC, at 
    a(href='tel:7043096285') 704-309-6285
    | ,
    |       or email him at 
    a(href='mailto:glenn@bigpicture.life') glenn@bigpicture.life
    |  or you can ask
    |       Glenn to get in touch with you 
    a(href='/#contact') here
    | .
    p
  section#titleSection
    h1 Meet the Owner of BPC
  section#glenn.main
    p
      img#portrait(src='/images/glenn.png', alt='glenn', align='left')
      |       Glenn Love is the owner and president of Big Picture Consulting, a regional
      |       management consulting firm that gets in the trenches with leaders of all
      |       types to help them analyze and learn, develop alternatives, make decisions,
      |       and act.
      br
      br
      |       Since entering the management consulting field in 1995, Glenn has served
      |       leaders and organizations in 17 states and The Bahamas. Glenn’s purpose
      |       and passion is to work alongside leaders of all types to help them overcome
      |       obstacles, develop innovative solutions, and focus on the big picture. One of
      |       Glenn’s favorite business axioms is, “You can’t be what you can’t see.”
      br
      br
      |       Prior to launching his own practice, Glenn invested nearly 15 years in commercial banking and sports
      |       marketing where he worked alongside leaders of privately held businesses, as well as Fortune 500
      |       companies including Wachovia (now Wells Fargo), NCNB (now Bank of America), Exxon Co. USA,
      |       Coca-Cola, Procter & Gamble, PepsiCo, and Tyson Foods. One of Glenn's proudest achievements was when
      |       he and a marketing consulting team worked closely with Jerry Richardson and Richardson Sports to help
      |       win an NFL franchise for the Charlotte region..
      |       Glenn also served as a senior project leader for an international management consulting firm based
      |       in Chicago. In recent years, he has worked with leadership teams at United Way, Hospice of
      |       Cabarrus County and Cooperative Christian Ministry to assist with fundraising, marketing, social
      |       media planning and community education initiatives.
      br
      br
      |       Glenn is well-published on the subject of management and leadership, and has contributed articles to
      |       The Charlotte Business Journal, The Charlotte Observer, and Cabarrus Business magazine. He has
      |       authored numerous articles 
      img#portrait2(src='/images/glenn2.jpg', alt='glenn', align='right')
      |       for various publications including the “Family Business Forum” for the
      |       Business Today Journal. Glenn conducts seminars and workshops for Big Picture clients, financial
      |       institutions, community colleges, chambers of commerce and professional associations throughout
      |       the Charlotte metro region and the Carolinas.
      br
      br
      |       He earned his bachelor’s degree in economics from the University of North Carolina at Chapel Hill
      |       and has received ongoing business management training and certifications from The Business
      |       School for Entrepreneurial Education and Gateway Leadership Academy. In addition, Glenn holds a
      |       North Carolina real estate license and is an honors graduate of Christ School located near Asheville, North Carolina.
      |       Glenn has a passion for community. He has volunteered at Meals on Wheels, Urban Ministry,
      |       Hospice, Hope Junction and Redeemer’s Recovery Ranch.
      br
      br
      |       Glenn was born and raised in Charlotte and has been married to Pamela for more than 30 years. He
      |       and his wife are blessed with four children and a granddaughter and live near Mt. Pleasant, NC. He
      |       and his family attend Community Church of Mt. Pleasant.
  .quoteContainer
    img.quoteImg(src='/images/quotes/ashleyBrilliant.png', alt='ashleyBrilliant')
  br
  br
include partials/foot.pug
