doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Big Picture Consulting
    link(rel='icon', href='/images/icon.png')
  body
    header
      a(href='/')
        #brand
          img(src='/images/brand.png', alt='brand')
      ul#menuList
        a.menuItem(href='about') About
        a.menuItem(href='services') Services
        a.menuItem(href='testimonials') Testimonials
        a.menuItem(href='faq') FAQ
        a(href='//#contact')
          button#getStarted.ghostBtn Get Started
      button#dropDownButton
        i.icon-menu
    #dropDownMenu
      ul#dropDownList
        a.dropDownItem(href='about') About
        a.dropDownItem(href='services') Services
        a.dropDownItem(href='testimonials') Testimonials
        a.dropDownItem(href='faq') FAQ
        a(href='//#contact')
          button#dropDownGetStarted Get Started
    section#faqTop.secondTop
    section#titleSection
      h1 Frequently Asked Questions
    section.main
      p
        span.question
          b Q:
        |       How do I know you would hold in strict confidence any information I
        |       would share with you and not get into any conflict-of-interest situations that could potentially jeopardize my
        |       organization?
        br
        br
        span.answer
          b A:
        |       BPC’s owner and president, Glenn Love, and any associate consultants who
        |       work on BPC projects, are required to sign the Engagement Agreement which contains a very strict confidentiality
        |       clause, as well as a conflict-of-interest avoidance clause. BPC works hard to gain your trust, and thus take
        |       these issues extremely seriously in order to maintain your trust.
        br
        br
        hr
        br
        span.question
          b Q:
        |  How much are your fees?
        br
        br
        span.answer
          b A:
        |       That depends on the scope and depth of the work we do, the size of your
        |       organization, the number of employees you have, the complexity of the project, and a variety other factors that
        |       must be considered. Before any work is done, the work required is carefully defined and put in writing,
        |       all phases of the project are outlined in writing, and the fee to be charged for each phase is provided.
        |       There are no surprises and no undisclosed add-ons (i.e., no “change orders) without prior discussion and prior
        |       written consent from the client.
        br
        br
        hr
        br
        span.question
          b Q:
        |  Do you have any past clients I can talk to about the work you did with them?
        br
        br
        span.answer
          b A:
        |       Absolutely. Once we identify the specifics needs you have, the scope the project, and you
        |       are ready to move forward, I will personally introduce you to some our past clients who grant
        |       me permission to do so.
        br
        br
        hr
        br
        span.question
          b Q:
        |  Do you serve clients only in the Charlotte area?
        br
        br
        span.answer
          b A:
        |       No. While our primary service area is Charlotte and both Carolinas, we have worked with
        |       leaders in 15 others states, plus the Bahamas.
        br
        br
        hr
        br
        span.question
          b Q:
        |  What if we get started on a project together and have to delay it or cancel it for some
        |       reason, is that a problem?
        br
        br
        span.answer
          b A:
        |       Not at all. All of our projects consist of pre-defined phases, so if we need to pause some
        |       work we are doing, or cancel the project for any reason, we will wrap up the current phase
        |       and hope to resume working with you at some point in the future.
        br
        br
        hr
        br
        span.question
          b Q:
        |  Do you require that any expenses you have related to the project be reimbursed to BPC by
        |       your clients?
        br
        br
        span.answer
          b A:
        |       Yes. Expenses could include any necessary travel such as airfare, rental vehicle, hotel
        |       accommodations, meals auto mileage to and from project locations, and photo copies, as
        |       needed.
        br
        br
        hr
        br
        span.question
          b Q:
        |  How do I learn about the owner of Big Picture Consulting, including his professional
        |       background and experience, as well as his personal life?
        br
        br
        span.answer
          b A:
        |       Glenn Love is the owner and president of Big Picture Consulting, you can click 
        a(href='about#glenn') here
        |  to learn more.
        br
        br
        hr
        br
        span.question
          b Q:
        |  So if I wanted to explore the possibility of working with BPC, without having to make a
        |       commitment of any kind, how would I go about that?
        br
        br
        span.answer
          b A:
        |       There are many ways you can schedule an appointment with the owner, Glenn Love. You can text or
        |       call Glenn at 
        a(href='tel:7043096285') 704-309-6285
        | , you can email him at 
        a(href='mailto:glenn@bigpicture.life') glenn@bigpicture.life
        | ,
        |       or you can request that Glenn get in touch with you 
        a(href='/#contact') here
        | .
    footer
      .footer-col
        h1 About BPC
        p.text.black
          | We exist to serve leaders. We get in the trenches with you to custom design meaningful, relavant solutions to your greatest challenges. Our mission is to help you analyze, learn, see the alternatives, make decisions, and act. It's your big picture. We're in it with you.
      .footer-col
        h1 Useful Links
        p.text
          a(href='about') About BPC and it's President
          a(href='services') Consulting Services
          a(href='testimonials') What Others Are Saying
          a(href='//#contact') Contact
      .footer-col
        h1 Social
        p.text
          a(href='http://linkedin.com/in/glenn-love-42b62717') Linkedin
          a(href='#') Google+
          a(href='#') Twitter
          a(href='#') Facebook
    #copyright
      | Copyright © 2017 - Big Picture Consulting
  link(href='https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600', rel='stylesheet')
  link(href='/styles/fontello.css', rel='stylesheet')
  link(rel='stylesheet', href='/styles/master.css')
  script(src='/scripts/zenscroll-min.js')
  script(src='/scripts/dropDown.js')
