<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> navigation}}
    <section id="faqTop" class="secondTop"></section>
    <section id="titleSection">
      <h1>Frequently Asked Questions</h1>
    </section>
    <section class="main">
      <p><span class="answer"><b>Q: </b></span>How do I know that any information I share with you would be held in strict confidence?<br><br><span class="answer"><b>A:</b></span> Any consultants who work on BPC projects are required to sign the Engagement
        Agreement which contains a strict confidentiality and non-disclosure clause. BPC works hard to gain your trust and takes these issues extremely seriously in order to maintain your trust.<br><br>
        <hr><br><span class="answer"><b>Q:</b></span> How much are your fees?<br><br><span class="answer"><b>A:</b></span> That depends on the scope and depth of the work we do, the size of your organization, the number of employees you have, the complexity
        of the project, and a variety of other factors that must be considered. Before any work is done, the work required is carefully defined and put in writing, all phases of the project are outlined in writing, and the fee to be charged for each phase
        is provided. There are no surprises and no undisclosed add-ons (i.e., no "change orders") without prior discussion and prior written consent from the client.<br><br>
        <hr><br><span class="answer" id="third"><b>Q:</b></span> Do you have any past clients I can talk to about the work you did with them?<br><br><span class="answer"><b>A:</b></span> Absolutely. Once we identify the specific needs you have, the scope of the project,
        and  ascertain that you are ready to move forward, we will personally introduce you to some of our past clients who have granted us permission to do so.<br><br>
        <hr><br><span class="answer"><b>Q:</b></span> Do you serve clients only in the Charlotte area?<br><br><span class="answer"><b>A:</b></span> No. While our primary service area is Charlotte and the Carolinas, we have worked with leaders in 15 other states
        and the Bahamas.<br><br>
        <hr><br><span class="answer"><b>Q:</b></span> Do you require that your expenses related to the project be reimbursed to BPC by your clients?<br><br><span class="answer"><b>A:</b></span> Yes. Expenses could include any necessary travel such as airfare,
        rental vehicle, hotel accommodations, meals, and auto mileage to and from projects located outside the immediate Charlotte/Mecklenburg area.<br><br>
        <hr><br><span class="answer"><b>Q:</b></span> How do I learn about the owner of Big Picture Consulting, including his professional background and experience?<br><br><span class="answer"><b>A:</b></span> Glenn Love is the owner and president of Big Picture
        Consulting. You can click <a href="about#glenn">here</a> to learn more.</p>
    </section>
    <div class="quoteContainer"><img src="/images/quotes/simonSinek.png" alt="simonSinek" class="quoteImg"></div><br><br>
    {{> foot}}
  </body>
</html>
