include partials/head.pug
body
  include partials/navigation.pug
  section#faqTop.secondTop
  section#titleSection
    h1 Frequently Asked Questions
  section.main
    p
      span.answer
        b Q:
      |       How do I know you would hold in strict confidence any information I
      |       would share with you and not get into any conflict-of-interest situations that could potentially jeopardize my
      |       organization?
      br
      br
      span.answer
        b A:
      |       BPC’s owner and president, Glenn Love, and any associate consultants who
      |       work on BPC projects, are required to sign the Engagement Agreement which contains a very strict confidentiality
      |       clause, as well as a conflict-of-interest avoidance clause. BPC works hard to gain your trust, and thus take
      |       these issues extremely seriously in order to maintain your trust.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  How much are your fees?
      br
      br
      span.answer
        b A:
      |       That depends on the scope and depth of the work we do, the size of your
      |       organization, the number of employees you have, the complexity of the project, and a variety other factors that
      |       must be considered. Before any work is done, the work required is carefully defined and put in writing,
      |       all phases of the project are outlined in writing, and the fee to be charged for each phase is provided.
      |       There are no surprises and no undisclosed add-ons (i.e., no "change orders") without prior discussion and prior
      |       written consent from the client.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you have any past clients I can talk to about the work you did with them?
      br
      br
      span.answer
        b A:
      |       Absolutely. Once we identify the specifics needs you have, the scope the project, and you
      |       are ready to move forward, I will personally introduce you to some our past clients who grant
      |       me permission to do so.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you serve clients only in the Charlotte area?
      br
      br
      span.answer
        b A:
      |       No. While our primary service area is Charlotte and both Carolinas, we have worked with
      |       leaders in 15 others states, plus the Bahamas.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you require that any expenses you have related to the project be reimbursed to BPC by
      |       your clients?
      br
      br
      span.answer
        b A:
      |       Yes. Expenses could include any necessary travel such as airfare, rental vehicle, hotel
      |       accommodations, meals, auto mileage to and from projects located outside the immediate Charlotte/Mecklenburg area.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  How do I learn about the owner of Big Picture Consulting, including his professional
      |       background and experience, as well as his personal life?
      br
      br
      span.answer
        b A:
      |       Glenn Love is the owner and president of Big Picture Consulting, you can click 
      a(href='about#glenn') here
      |  to learn more.
  .quoteContainer
    img.quoteImg(src='/images/quotes/simonSinek.png', alt='simonSinek')
  br
  br
include partials/foot.pug
