include partials/head.pug
body
  include partials/navigation.pug
  section#faqTop.secondTop
  section#titleSection
    h1 Frequently Asked Questions
  section.main
    p
      span.answer
        b Q: 
      | How do I know that any information I would share with you would be held in strict confidence?
      br
      br
      span.answer
        b A:
      |       Any consultants who
      |       work on BPC projects are required to sign the Engagement Agreement which contains a strict confidentiality
      |       and non-disclosure clause. BPC works hard to gain your trust and takes
      |       these issues extremely seriously in order to maintain your trust.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  How much are your fees?
      br
      br
      span.answer
        b A:
      |       That depends on the scope and depth of the work we do, the size of your
      |       organization, the number of employees you have, the complexity of the project, and a variety of other factors that
      |       must be considered. Before any work is done, the work required is carefully defined and put in writing,
      |       all phases of the project are outlined in writing, and the fee to be charged for each phase is provided.
      |       There are no surprises and no undisclosed add-ons (i.e., no "change orders") without prior discussion and prior
      |       written consent from the client.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you have any past clients I can talk to about the work you did with them?
      br
      br
      span.answer
        b A:
      |       Absolutely. Once we identify the specific needs you have, the scope of the project, and you
      |       are ready to move forward, we will personally introduce you to some of our past clients who grant
      |       us permission to do so.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you serve clients only in the Charlotte area?
      br
      br
      span.answer
        b A:
      |       No. While our primary service area is Charlotte and the Carolinas, we have worked with
      |       leaders in 15 other states and the Bahamas.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  Do you require that expenses you have related to the project be reimbursed to BPC by
      |       your clients?
      br
      br
      span.answer
        b A:
      |       Yes. Expenses could include any necessary travel such as airfare, rental vehicle, hotel
      |       accommodations, meals, and auto mileage to and from projects located outside the immediate Charlotte/Mecklenburg area.
      br
      br
      hr
      br
      span.answer
        b Q:
      |  How do I learn about the owner of Big Picture Consulting, including his professional
      |       background and experience?
      br
      br
      span.answer
        b A:
      |       Glenn Love is the owner and president of Big Picture Consulting. You can click 
      a(href='about#glenn') here
      |  to learn more.
  .quoteContainer
    img.quoteImg(src='/images/quotes/simonSinek.png', alt='simonSinek')
  br
  br
include partials/foot.pug
