<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> navigation}}
    <section id="servicesTop" class="secondTop"></section>
    <section id="titleSection">
      <h1>Our Services</h1>
    </section>
    <section class="main">
      <p></p>
      <h2>The Big Picture Assessment (BPA)</h2><span class="tb"> <b>is a full-scope assessment of your organization.</b></span> This is a business "MRI" if you will, analyzing 6 specific areas of leadership discipline. It is a comprehensive evaluation of your management
      and leadership practices including financial disciplines, operations, the organizational structure, and the work culture you have created. The assessment takes place inside your business, is 100% confidential, and concludes with a private meeting to
      review the findings and recommended actions. The <span class="tb">BPA</span> is a fixed-fee service in which the fee charged is based on the size of the organization, the depth of the assessment needed, and the estimated time to complete.
      <h3>Questions we will seek answers to in the <span class="tb">BPA</span> include:</h3>
      <ul>
        <li>Do you feel everything within your organization is as it should be right now?</li>
        <li>What steps are you currently taking to improve your organization?</li>
        <li>What steps could/should you be taking right now that you're not?</li>
        <li>Are your revenues growing at a healthy clip? Why or why not?</li>
        <li>Are you controlling your expenses effectively? </li>
        <li>Where are your bottom-line profit margins in comparison to industry standards?</li>
        <li>Do you have the right people on board and are they in the right places doing the right things?</li>
        <li>How effective are you at communicating and sharing your vision, both inside and outside the organization?</li>
        <li>How is your overall employee productivity? How could it be improved?</li>
        <li>What ideas do you and others in your organization have for enhancing operations, communications, and growth?</li>
      </ul> The <span class="tb">Big Picture Assessment</span> examines your organization’s entire terrain including revenue growth trends, expense controls, bottom-line profitability, operating efficiencies, employee productivity, communications, and policies and procedures. The assessment
      takes anywhere from one to five days to complete, and involves an analysis of data you provide (data that never leaves your business), confidential surveys of your staff , and one-on-one meetings with the CEO, the management team, and a cross-section of your
      employees. The assessment concludes with a private meeting in which findings are presented along with recommendations for improvement.
      <h3>What can we show you that you don’t already know?</h3> Not everything is easily seen. Deadlines, stress, and the huge responsibilities of overseeing and running an organization can obstruct your view. The <span class="tb">Big Picture Assessment</span> is designed to help
      you get above it all – to get a "satellite view"of your business. It’s hard to see it all from the ground.<br>
      <h2>Limited-Scope Assessments and Consulting Projects include:</h2>
      <ol>
        <li>Revenue Growth, Marketing & External Communications</li>
        <li>Income Tracking, Expense Controls & Profit Planning</li>
        <li>Roles, Job Descriptions, & Internal Communications of Leadership & Employees</li>
        <li>Vision, Purpose, Mission, & Goals (short & long-term)</li>
        <li>Succession & Exit Planning Strategies</li>
        <li>Culture & Teamwork Dynamics</li>
        <li>Customized Project</li>
      </ol>
      <h4>Each of our projects consist of the following four phases:</h4>
      <ul class="noListIcons">
        <li><b>Phase 1:</b> Assess, Analyze, Learn<br></li>
        <li><b>Phase 2:</b> Develop, Test, Adjust<br></li>
        <li><b>Phase 3:</b> Communicate, Install, Assess<br></li>
        <li><b>Phase 4:</b> Follow Up, Interview, Re-Adjust<br></li>
      </ul>
      <h2>Other Consulting Services</h2>
      <ul>
        <li>Leadership Coaching & Mentoring</li>
        <li>Team Building, Brainstorming & Problem Solving</li>
        <li>Conflict Resolution</li>
        <li>Leadership & Team Retreat Facilitation</li>
        <li>Custom Seminar/Workshop Design & Facilitation</li>
        <li>Public Speaking</li>
      </ul>
      <br>
      To learn more, request a free, no obligation appointment <a href="/#contact">here</a>.<br><br> Big Picture Consulting<br><i>We’re in it with you.</i></section>
    <div class="quoteContainer"><img src="/images/quotes/tonyRobbins.png" alt="tonyRobbins" class="quoteImg"></div><br>
    {{> foot}}
  </body>
</html>
