include partials/head.pug
body
  include partials/navigation.pug
  section#servicesTop.secondTop
  section#titleSection
    h1 Our Services
  section.main
    p
    h2 The Big Picture Assessment
    |       is a full-scope assessment of your organization , an “MRI” if you will, that analyzes 6 specific areas of leadership discipline. It is a
    |       comprehensive evaluation of your management and leadership practices including financial disciplines, operations, the
    |       organizational structure, and the work culture you have created The assessment takes place inside your business, is
    |       100% confidential, and concludes with a private meeting to review the findings and recommended actions. The BPA is
    |       fixed-fee service in which the fee charged is based on the size of the organization, the depth of the assessment needed,
    |       and the estimated time to complete.
    br
    .quoteContainer
      img.quoteImg(src='/images/quotes/tonyRobbins.png', alt='tonyRobbins')
    h3 Questions we will seek answers to in the BPA Include:
    ul
      li Is your revenue growing?
      li Are your expense control systems working properly?
      li Is your profit increasing?
      li
        | Do you have the right people and are they in the right places doing the right things?
      li
        | How effective are your at communications and sharing your vision, both inside and outside the organization?
      li How is your employee productivity?
      li Where are you right now?
      li Where are you going?
      li And why?
    |       The Big Picture Assessment examines your organization’s entire terrain including:
    |       revenue growth trends, expense controls, and bottom-line profitability, to operating efficiencies, employee productivity,
    |       communications, and policies and procedures. The assessment takes anywhere from one to five days, and involves an
    |       analysis of data you provide (data that never leaves your business), confidential surveys of your staff , and one-on- one
    |       meetings with the CEO, the management team, and a cross-section of your employees. The assessment concludes with a
    |       private meeting in which findings are presented along with recommendations for improvement.
    h3 What can we possibly show you that you don’t already know?
    |       Not everything is easily seen. Deadlines, stress and just the huge responsibilities of overseeing and running an
    |       organization can obstruct your view. The Big Picture Assessment is designed to help you get above it all – to get a
    |       “satellite view”of your business. It’s hard to see it all from the ground.
    br
    .quoteContainer
      img.quoteImg(src='/images/quotes/simonSinek.png', alt='simonSinek')
    h2 Limited-Scope Assessments and Specific-Focus Projects include:
    ol
      li Revenue Growth, Marketing & External Communications
      li Income Tracking, Expense Controls & Increasing Profits
      li
        | Leadership, Management, Employees, Roles, Job Description & Internal Communications Dynamics
      li Vision, Purpose, Mission Goals
      li Succession and Exit Planning Strategies
      li Culture and Teamwork Dynamics
      li Customized Project
    |       Each of our projects consists of the following four phases:
    br
    br
    b Phase 1:
    |  Assess, Analyze, Learn
    br
    b Phase 2:
    |  Develope, Test, Adjust
    br
    b Phase 3:
    |  Communicate, Install, Assess
    br
    b Phase 4:
    |  Follow Up, Interview, Re-Adjust
    br
    h2 Other Consulting Services
    ul
      li Leadership Coaching & Mentoring
      li Team Building, Brainstorming and Problem Solving
      li Conflict Resolution
      li Leadership & Team Retreat Facilitation
    br
    |       Request a no-cost, no obligation appointment 
    a(href='/#contact') here
    |  to learn more.
    br
    br
    |       Big Picture Consulting
    br
    i We’re in it with you.
    p
include partials/foot.pug
