<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> navigation}}
    <section id="testimonialsTop" class="secondTop"></section>
    <section id="titleSection">
      <h1>What Others Are Saying</h1>
    </section>
    <section class="main">
      <p><q>The amount of time I was spending at the office was increasing while the profits the business were making were
  decreasing. Glenn came in and helped me re-organize the entire company so that now I delegate tasks to a
  handful of department managers rather than trying to do it all myself. These changes have freed me up to focus
  on managing our expenses and profit margins which is what a company president is suppose to do anyway.
  Glenn has had a very positive impact on my business, as well as my personal perspective of it.</q><br><br><span class="quoteAuthor">– Todd, President and CEO of a Machine Tooling Manufacturer</span><br><br>
        <hr><br><q>My goal was to get my managers to adopt more of an ownership mentality in running their respective regions.
  Glenn came in and recommended we set up cost centers for each of our regions and hold the managers
  accountable for managing the budgets and profit margins we established for each. The implementation of these
  recommendations has made a tremendous impact in our daily operations. I can honestly say that I received
  "dollar value for dollar spent." I truly appreciate Glenn’s ongoing assistance and thank him for all of his efforts and
  professionalism.</q><br><br><span class="quoteAuthor">– Jack, President and CEO of a Regional Tree Care Service</span><br><br>
        <hr><br><q>Glenn helped me make some major decisions concerning my business. His hands-on approach to our staff
  teamwork problems helped pull our employees together. Without question, the work he did in my dental practice
  dramatically improved staff teamwork and productivity. I really enjoyed working with Glenn.</q><br><br><span class="quoteAuthor">– Jeff, DDS, principle of a Family Dental Practice</span><br><br>
        <hr><br><q>I brought Glenn into my business to help me get organized, become more efficient, and develop policies and
  procedures to systematize the internal work we do in each department. He immediately identified some
  inadequate billing procedures for our field labor and helped us establish new guidelines to better manage all of
  our expenses. I feel I received a great return on my investment.</q><br><br><span class="quoteAuthor">– Brandon, President of a Heating and Cooling Contracting Company</span><br><br>
        <hr><br><q>I wanted Glenn to analyze our operations and determine why our profit margins were shrinking. He isolated the
  problem to one specific product line by analyzing revenues and related expenses for each product lines We
  ended up dropping the unprofitable one to focus on those that are making money for us. I was very impressed
  with the work Glenn did and his degree of professionalism.</q><br><br><span class="quoteAuthor">– Frank, Owner of a Farm Equipment Dealership</span><br><br>
        <hr><br><q>I really needed help improving morale and attitudes throughout the company. Glenn came in and produced better
  job descriptions for our employees and outlined my performance expectations of all. He developed a
  comprehensive Employee Policy Handbook that includes my purpose and vision for the business, as well as how
  pay increases are determined for everyone throughout the organization. I was very pleased with all of the work
  Glenn did and highly recommend his consulting services. He definitely knows what he’s doing.</q><br><br><span class="quoteAuthor">– Carol, CEO of a Private Retail Drug Store Chain</span><br></p>
    </section>
    <div class="quoteContainer"><img src="/images/quotes/steveJobs.png" alt="steveJobs" class="quoteImg"></div><br>
    {{> foot}}
  </body>
</html>
